.DS_Store
.env
*.d.ts.map
*.d.ts
*.log
coverage/
node_modules/
yarn.lock
data/top-dependent.json
data/download-counts-scoped.json
data/download-counts-unscoped.json
data/sequence.txt
data/packages.txt
