*.d.ts
*.log
*.map
*.tsbuildinfo
.DS_Store
.env
coverage/
data/download-counts-scoped.json
data/download-counts-unscoped.json
data/packages.txt
data/sequence.txt
data/top-dependent.json
node_modules/
yarn.lock
